<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <title>Manage Sensors</title>
  <style>
    #Delete {
      text-align: center;
      color: rgba(0, 0, 0, 0.341);
      border-bottom: 0px;
      border-top: 0px;
      border-right: 0px;
      border-color: inherit;
      background-color: inherit;
      width: 100%;
      height: 40px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }

    #Delete:hover {
      background-color: rgb(255, 31, 31);
      border-color: rgb(255, 31, 31);
      border: 4px;
      color: white;
      font-weight: bold;
    }
  </style>
</head>

<body>
  <div class="container-flex text-center bg-primary text-white">
    <h1 class="py-4 my-0">SensorsDataAPI</h1>
  </div>
  <nav class="navbar navbar-light bg-info py-0 justify-content-center">
    <a class="navbar-brand text-white px-3" href="manage_sensors"><h4 class="my-0"> MANAGE SENSORS </h4></a>
    <a class="navbar-brand text-white px-3" href="manage_readings"><h6 class="my-0"> MANAGE READINGS </h6></a>
    <a class="navbar-brand text-white px-3" href="query_readings"><h6 class="my-0"> QUERY READINGS </h6></a>
  </nav>
  

  <div class="container py-4">
    <div class="row justify-content-center ">
      <div class="col-3">
        <div class="border border-secondary px-4 py-4">
        <form class="row px-2" method="POST" action="manage_sensors?page={{page_number}}">
          {% csrf_token %}
          <label class="form-label" for="sensor_type">Sensor type:</label>
          <select class="form-select mb-3" name="sensor_type" id="sensor_type">
            <option value="Temperature sensor">Temperature Sensor</option>
            <option value="Humidity sensor">Humidity Sensor</option>
            <option value="Acoustic sensor">Acoustic Sensor</option>

          </select>

          <label class="form-label" for="vendor_name">Vendor name:</label>
          <input class="form-control mb-3" name="vendor_name">
          <label class="form-label" for="vendor_email">Vendor email:</label>
          <input type="email" class="form-control mb-3" name="vendor_email">
          <label class="form-label" for="description">Description:</label>
          <input class="form-control mb-3" name="description">
          <label class="form-label" for="location">location:</label>
          <input class="form-control mb-3" name="location">

          <input type="submit" value="Add Sensor" name="Add" class="btn btn-info text-white">

        </form>
      </div>
      </div>

      <div class="col-9">
        {% if paginator.count == 0 %}
        <p class="text-center text-secondary">No sensors were found</p>
        {% else %}
        <table class="table border border-secondary text-center table-striped">
          <thead>
            <tr>
              <th scope="col">sensorId</th>
              <th scope="col">Type</th>
              <th scope="col">Vendor name</th>
              <th scope="col">Vendor email</th>
              <th scope="col">Description</th>
              <th scope="col">Location</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for sensor in sensors %}
            <tr>
              <td>{{sensor.sensor_id}}</td>
              <td>{{sensor.type}}</td>
              <td>{{sensor.vendor_name}}</td>
              <td>{{sensor.vendor_email}}</td>
              <td>{{sensor.description}}</td>
              <td>{{sensor.location}}</td>
              <td class="py-0 px-0">
                <form method="POST" action="manage_sensors?page={{page_number}}">
                  {% csrf_token %}
                  <input type="hidden" value="{{sensor.sensor_id}}" name="sensor_id">
                  <input id="Delete" type="submit" value="Delete" name="Delete">
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="pagination justify-content-center">
          <div class="btn-group" role="group">
            {% if sensors.has_previous %}
            <a class="btn btn-outline-secondary" href="?page={{ sensors.previous_page_number }}">Previous Page</a>
            {% endif %}
            {% if sensors.has_next %}
            <a class="btn btn-outline-secondary" href="?page={{ sensors.next_page_number }}">Next Page</a>
            {% endif %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

</body>

</html>